body {
    transition: 1s;
}
.container {
    border: 1px solid #b7bcc7;
    border-radius: 5px;
    padding: 25px;
}

.game_main  {
    border: 1px solid #b7bcc7;
    border-radius: 5px;
    max-width: 715px;
    padding: 30px;
    margin: auto;

}
.mole_sec {
    border: 1px solid #b7bcc7;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.grass {
    height: 270px;
    margin-left: -20px;
    pointer-events: none;
    transition: 1s;
}

.mole {
    height: 173px;
    margin-top: -110px;
    margin-left: 20px;
    
}
.mole_img {
    height: 173px;
    margin-left: 20px;
    margin-top: -110px;
    transition: 1s;
}
.user_section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.score_btn {
    cursor: context-menu!important;
    transition: 1s;
}

h6 {
    transition: 1s;
}


.dark_alert {
    opacity: 0;
    text-align: center;
    color: white;
    background: #404248;
    border: 1px solid #5e6c81;
    transition: 1s;
}


.moon{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    transform: rotate(230deg);
    box-shadow: inset 0px 16px #b0bcce, inset 0px 16px 1px 1px #999;
  }



  .star_sec {
    height: 50px;
    margin-top: -60px;
    text-align: center;
    color: #7a87a2;
    opacity: 0;
    transition: 3s;
  }

  .two {
      margin-right: -60px;
  }

  .three {
    margin-top: -32px;
    margin-right: 23px;
  }
  .four {    
    margin-top: -4px;
    margin-left: 19px;
  }
  .five {
    margin-top: -56px;
    margin-right: 49px;
  }
  .six {
    margin-right: 84px;
    margin-top: -16px;
}

.seven {

    margin-left: 90px;
}

.eight {
    margin-left: 90px;
    margin-top: -60px;
}

.nine {
    margin-left: 170px;
}

.ten {
    margin-left: 154px;
    margin-top: -46px;
}
